.gridContainer {
  width: 671px;
  height: 191px;
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  margin-bottom: 24px;
  border-bottom: 1px solid grey;
  width: 671px;
  margin: auto;
}

.type {
  color: #531210;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 15px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  font-weight: 700;
}

.title{
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 36px !important;
  font-weight: 700 !important;
  letter-spacing: 0.2px !important;
  line-height: 40px !important;
  margin-bottom: 6px;
}

.location {
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  word-wrap: break-word !important;
  font-size: 17px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  font-weight: 300 !important;
  margin-bottom: 32px;
}

.stats {
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  word-wrap: break-word !important;
  font-size: 17px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  font-weight: 300 !important;
  display: flex;
  justify-content: row;
  padding-right: 8px !important;
  min-height: 1px !important;
  position: relative !important;
  width: 50% !important;
  float: left !important;
  margin-bottom: 16px;
}
