.spaceType {
  color: #531210;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 15px !important;
  line-height: 16px !important;
  letter-spacing: 0.2px !important;
  font-weight: 700;
}

.spaceTitle{
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 36px !important;
  font-weight: 700 !important;
  letter-spacing: 0.2px !important;
  line-height: 40px !important;
}

.spaceLoc {
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 17px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  font-weight: 300 !important;
}

.stats {
  color: #484848 !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 17px !important;
  line-height: 22px !important;
  letter-spacing: 0.2px !important;
  font-weight: 300 !important;
  display: inline !important;
}

.sports {
  display: flex;
  flex-direction: row;
}