.summaryContainer {
  border-bottom: 1px solid grey;
  width: 671px;
  margin: auto;
} 

.avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  /* margin: auto; */
  overflow: hidden;
}

.hostContainer {
  display: flex;
  justify-content: flex-start;
  border: 1px solid red;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 300;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  /* justify-content: flex-start; */
}

.hostInfo {
  padding: 8px;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.summary {
  margin-top: 16px;
  margin-bottom: 32px;
  border-radius: 5px;
  background: #f8f8f8;
  padding: 16px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.summary-text {
  margin-bottom: 15px;
}

.modalBox {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 17px;
  font-weight: 300;
  word-wrap: break-word;
}

.modalTitle {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 2em;
}

h4 {
  font-size: 17px;
  padding-top: 32px;
}